<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- Google Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Gaegu" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {{!--Compiled and minified CSS --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    {{!-- Compiled and minified JavaScript --}}
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
     {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> --}}
     <script src="handlebars-4.0.2.js"></script>
    <link rel="stylesheet" href="../../public/assets/css/style.css" type="text/css"> 

    <title>Da Burger Menu</title>
</head>
<body>
    
    {{{ body }}}

    <footer class="burgerFooter">
        <div class="footer-copyright">
            <div class="container">
                <span class="black-text">2018 Sergio Burca</span>
                <a href="https://github.com/mecaniser/Eat-Da-Burger" class="black-text">GitHUb Repo</a>
            </div>
        </div>
    </footer>
</body>
</html>