<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- Google Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Gaegu" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {{!--Compiled and minified CSS --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    {{!-- Compiled and minified JavaScript --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link rel="stylesheet" href="./assets/css/style.css" type="text/css"> 

    <title>Da Burger Menu</title>
</head>
<body>
    <nav>
    <div class="nav-wrapper black">
      <a href="#" class="brand-logo center  orange-text">Da Burger!</a>
    </div>
  </nav>
    
    {{{ body }}}
    
    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="black-text">Da Burger</h5>
                <p class="black-text text-lighten-4"></p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="black-text">Git Hub Repo</h5>
                  <li><a class="white-text waves-effect waves-light btn-small" href="https://github.com/mecaniser/Eat-Da-Burger">Click here</a></li>
              </div>
            </div>
          </div>
          
          <div class="footer-copyright">
            <div class="container black-text">
            © 2018 Copyright Sergio Burca
            <a class="violet-text text-lighten-4 right" href="#!">GitHUb Profile</a>
            </div>
          </div>
        </footer>
</body>
</html>